@import "src/_variables.scss";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chat-wrapper {
  flex: 1 1 auto;
  overflow-y: scroll;
  p {
    margin: 0;
  }
  display: flex;
  flex-direction: column;
}
.message {
  border-radius: 20px;
  max-width: 75%;
  margin-bottom: 15px;
  width: auto;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
}
.message-type_text {
  padding: 10px;
}
.message-author_bot {
  align-self: flex-start;
  background-color: $pink;
}
.message-author_human {
  align-self: flex-end;
  background-color: $blue;
}
.chat-footer {
  display: flex;
}
.message-input {
  flex: 1 1 auto;
}
