@import "src/_variables.scss";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chat-wrapper {
  flex: 1 1 auto;
  overflow-y: scroll;
  p {
    margin: 0;
  }
  display: flex;
  flex-direction: column;
}
.message {
  border-radius: 20px;
  max-width: 75%;
  margin-top: 5px;
  width: auto;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
}
.message-type_text, .message-type_variants, .message-type_map{
  padding: 10px;
}
.message-type_map {

}
.message-author_bot {
  align-self: flex-start;
  background-color: $pink;
}
.message-author_bot + .message-author_human,
.message-author_human + .message-author_bot {
  margin-top: 20px;
}
.message-author_human {
  align-self: flex-end;
  background-color: $blue;
}
.chat-footer {
  display: flex;
}
.message-input {
  flex: 1 1 auto;
}
.message-type_variants {
  flex-grow: 1;
  max-width: 100%;
}
.variants {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  overflow-x: auto;
}
.variant-card {
  margin-right: 15px;
  max-width: 250px;
}
.library-address {
  display: block;
  font-style: italic;
}
.library-name {
  display: block;
}
